body {
    text-align: center;
    background-color:#0D0D0D;
    color: #F2F2F2;
    line-height: 1.5;
}
p {
    font-size: 20px;
}

ol {
    list-style: none;
}

li{
    line-height: 2.0;
}
li:hover {
    background: #262626;
}

li:active {
    font-family: monospace;
}