html {
  box-sizing: border-box;
  font-size: 18px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
/* Minha parte do código */
* {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: 'Inria Serif', serif;
}

body {
  color: rgb(34, 34, 34);
  background-color: rgb(248, 245, 241);
}

h1, h2, h3 {
  font-family: DM Serif Display, serif
}

h1 {
  font-size: 2rem;
}


h2 {
  margin: 3% 0;
}

h3 {
  font-size: 1.75rem;
  text-align: center;
}

p {
  margin: 0 0 3% 0;
}
.container {
  max-width: 85%;
  margin: 6% auto;
}

header {
  background-color: #343f56;
  color: rgb(248, 245, 241);
  padding: 10px;
}

header ul {
  display: flex;
  justify-content: space-around;
  padding: 4%;
}

header h1 {
  text-align: center;
}

aside ul {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

article h1 {
  padding: 10% 0 5% 0;
}

hr {
  max-width: 60%;
  margin: 5% auto;
}

footer p {
  font-size: 16px;
  text-align: center;
  color: rgb(82, 82, 82);
  font-style: italic;
}
