* {
    margin: 0;
    padding: 0;
}
input {
    max-width: 90px;
}
#header-style{
    text-align: center;
    background: #222;
    padding: 4px;
    max-width: 100%;    
    flex-wrap: wrap;
}

#header-style h1{
    font-size: 20px;
    color: rgb(243, 235, 235);
}

#div-style {
    max-width: 600px;
    background: inherit;
    margin: 0 auto;
    text-align: center;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

#div-style div {
    margin: 0 auto;
}

#div-style p {
    margin-bottom: 5px;
    color: rgb(243, 235, 235);
}

#section-text {
    max-width: 1200px;
    margin: 5% auto;
}