ol li {
    background-color: yellow;
}
ol li:nth-of-type(2n){
    color: green;
}
.primo{
    text-transform: uppercase;
}
h1, h2, h3, h4, h5, h6 {
    color: red;
}

h1 em {
    font-size: 40px;
    border: 1px solid black;
}
li {
    font-size: 20px;
}
li em {
    font-weight: bold;
}
.blue {
    color: blue;
}
.pink {
    color: pink;
}
.stack:hover{
    font-weight: bold;
    font: orange;
}
.w3:hover{
    font-weight: bold;
    font: green;
}
.mdn:hover{
    font-weight: bold;
    font: black;
}
.dev:hover{
    font-weight: bold;
    font: yellow;
}
.trybe:hover{
    font-weight: bold;
    font: green;
}